@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	color: #000000;
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	padding: 0px 15px;
	margin: 0 auto;
	max-width: 1222px;
	box-sizing: content-box;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	opacity: .75;
}

h1 {
	padding-top: 14px;
	padding-bottom: 40px;
	color: #717171;
}

h1 span {
	color: #499A18;
}

h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #E06733;
}

li {
	list-style-type: none;
}

button {
	cursor: pointer;
}

button:hover {
	opacity: .75;
}

/* --------------------------header---------------------------------- */
.header {
	background-color: #EDF2EC;
}

.header__container {
	padding: 42px 0;
}

.title__plants {
	font-family: 'Inika', serif;
	font-size: 16px;
	font-weight: 400;
}

.header__menu {
	padding: 5px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	width: 100%;
	height: 75px;
	background: #EDF2EC;
	;
}

.navbar__wrap {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.hamb {
	display: none;
}

.popup {
	display: none;
}

.header__logo {
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	display: flex;
	align-items: center;
}

.menu>li>a {
	text-decoration: none;
}

.navbar__wrap .menu {
	display: flex;
}

.navbar__wrap .menu>li {
	display: flex;
	align-items: stretch;
}

.navbar__wrap .menu>li>a {
	padding-right: 46px;
	display: flex;
	align-items: center;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	color: #010201;
}

.navbar__wrap .menu>li>a:hover {
	color: #499A18;
}

/* --------------------------конец header---------------------------------- */

/* --------------------------welcome---------------------------------- */
.menu span {
	color: #E06733;
}

.welcome-wrapper {
	background-color: #EDF2EC;
}

.welcome__block {
	padding-top: 62px;
	display: flex;
	justify-content: space-between;
}

.welcome-block__text {
	max-width: 549px;
	padding-bottom: 94px;
}

.welcome-block__text h1 {
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
}


.welcome-block__text p {
	padding-bottom: 48px;
	color: #636060;
	line-height: 35px;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 20px;
}

.welcome-block__text p:hover {
	color: #499A18;
	transition: 0.4s;
}

.welcome-block__img {
	max-width: 448px;
	max-height: 407px;
}

.welcome-block__button {
	width: 158px;
	height: 44px;
	background-color: #EDF2EC;
	border: 2px solid #E06733;
	border-radius: 10px;
	font-size: 16px;
	line-height: 20px;
}

.welcome-block__button:hover {
	background-color: #E06733;
	transition: 0.4s;
	color: #FFFFFF;
}

/* --------------------------конец welcome---------------------------------- */

/* --------------------------about---------------------------------- */
.about__block {
	display: flex;
}

.about-block__text {
	margin-top: 158px;
	margin-right: 153px;
	max-width: 605px;
}


.about-block__text h2 {
	width: 463px;
	padding-bottom: 40px;
	font-family: 'Inika';
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
}

.about-block__text p:hover {
	color: #499A18;
	transition: 0.4s;
}

.about-block__img {
	margin-bottom: 94px;
	margin-top: 92px;
	max-width: 464px;
	width: 50%;
}

.about h2,
.service h2 {
	font-size: 40px;
	line-height: 52px;
	font-weight: 400;
	color: #499A18;
}

.about span {
	color: #E06733;
}

.about p {
	line-height: 30px;
	color: #636060;
}

/* --------------------------конец about---------------------------------- */

/* --------------------------service---------------------------------- */
.service {
	background-color: #EDF2EC;
}

.service__menu {
	display: flex;
	align-items: center;
	padding-top: 42px;
	padding-bottom: 77px;
}

.service__menu h2 {
	max-width: 306px;
	margin-right: 142px;
	font-family: 'Inika';
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
}

.service__buttons {
	display: flex;
}


.service__button {
	font-family: 'Inika';
	width: 161px;
	height: 50px;
	background-color: #EDF2EC;
	border: 1px solid #E06733;
	border-radius: 5px;
	font-size: 1em;
	line-height: 26px;
	color: #E06733;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	margin-right: 38px;
	padding-right: 4px;
	font-weight: 400;
}

.service__button:hover {
	background-color: #E06733;
	transition: 0.4s;
	color: #FFFFFF;
}


.service p {
	color: #717171;
	line-height: 20px;
}

.service-grid__card {
	border: 1px solid #E3E1D5;
	border-radius: 6%;
}

.service-grid__card img {
	width: 100%;
}

.service-grid__card h3 {
	padding-bottom: 10px;
}

.service-grid__card p {
	padding-bottom: 36px;
}

figure.blur {
	filter: blur(2px);
	transition: 1s;
}

.service__buttons button.active {
	color: #ffffff;
	background-color: #E06733;
}

.service__buttons button.disabled {
	border-color: #ffffff;
	color: #ffffff;
	background-color: #adabab;
}

.service-grid__wrapper {
	margin-right: -11px;
	padding-bottom: 119px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 68px;
	grid-column-gap: 109px;
}

.text__card p {
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

.text__card h3 {
	padding-top: 7px;
	padding-bottom: 12px;
	text-align: center;
}

/* --------------------------конец service---------------------------------- */

/* -----------------------------price---------------------------------- */
.price {
	margin-top: 26px;
	display: flex;
	background-color: #ffffff;
}

.price-block__text {
	margin-left: 438px;
}

.main-prices__block .prices__accordion {
	margin: 23px 0px 128px 0px;
	width: 330px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 34px 0px 34px 0px;
	box-sizing: border-box;
	border: 1px solid #E3E1D5;
	border-radius: 20px;
}

.prices__accordion .accordion__item {
	margin-top: 34px;
	padding: 16px 0px 0px 40px;
	width: 250px;
	height: 50px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	border-radius: 20px;
	border: 0;
	cursor: pointer;
	background-color: #EDF2EC;
}

.prices__accordion .accordion-block--active .accordion__item:hover {
	background-color: #D6E7D2;
}

.prices__accordion .accordion__item::after {
	content: url(./image/logo_svg/accordion_btn1.svg);
	float: right;
	margin-right: 4rem;
}

.prices__accordion .accordion-block--active .accordion__item.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #D6E7D2;
}

.prices__accordion .accordion-block--active .accordion__item.active::after {
	content: url(./image/logo_svg/accordion_btn.svg);
}

.prices .main__prices-help {
	display: flex;
	flex-direction: column;
}

.accordion-prices__block {
	padding-left: 40px;
	padding-right: 40px;
	display: none;
	width: 250px;
	flex-direction: column;
	overflow: hidden;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #D6E7D2;
}

.accordion-block--active .accordion__item {
	background-color: #D6E7D2;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
}


.accordion-block--active .accordion-prices__block {
	display: block;
}

.prices .main__prices-help span {
	width: 452px;
	color: #000000;
}

.accordion-prices__block .border-line {
	border-top: 1px solid #AEA1A1;
	margin-top: 6px;
}

.accordion-prices__block div {
	padding-bottom: 6px;
	margin-top: 6px;
	font-family: 'Inter';
	font-weight: 300;
	font-size: 10px;
	line-height: 10px;
	color: #717171;
}

.accordion-prices__block>.accordion-price {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
}

.accordion-price span {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #E06733;
}

.accordion-prices__block button {
	width: 86px;
	height: 25px;
	border-radius: 10px;
	border: 0;
	margin: 0.7rem 0 1.2rem 0;
	padding: 0 0.9rem 0 0;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.5s;
	color: #717171;
	background-color: #ffffff;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Inter';
}

.accordion-prices__block button:hover {
	color: #ffffff;
	background-color: #E06733;
}


.price-block__text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.price__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}

.price__subtitle {
	width: 452px;
	font-family: 'Inter';
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: right;
	color: #000000;
}

.price__subtitle span {
	color: #499A18;
}

.price__contact {
	margin-top: 38px;
	margin-bottom: 39px;
	width: 161px;
	height: 50px;
	background: transparent;
	font-family: 'Inika';
	text-align: center;
	color: #E06733;
	border: 1px solid #E06733;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.price__contact:hover {
	background-color: #E06733;
	transition: 0.4s;
	color: #FFFFFF;
}

/* -----------------------------конец price---------------------------------- */

/* -----------------------------contacts---------------------------------- */
#contacts {
	background-color: #EDF2EC;
}

.contacts-wrapper {
	display: flex;
}

.contacts-wrapper h2 {
	margin-left: 113px;
	margin-top: 55px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
}

.contacts-wrapper img {
	margin-top: 52px;
}

.contacts__city {
	margin: 2.6rem 0 0 23.2rem;
	width: 450px;
	height: 50px;
	font-size: 20px;
	padding-left: 2.3rem;
	box-sizing: border-box;
	border: 0;
	text-align: left;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	appearance: none;
	cursor: pointer;
	color: #717171;
	font-family: 'Inter';
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.05em;
	background-color: #D6E7D2;
}

.contacts__city:hover {
	transition: 0.5s;
	background-color: #C1E698;
}

.contacts__city-block {
	margin: 3.6rem 0 0 30.2rem;
	position: absolute;
	width: 451px;
	display: none;
	flex-direction: column;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.05em;
	color: #499A18;
	background: #DCE9D9;
}

.contacts__city-block span {
	padding: 5px 0px 5px 41px;
	border-bottom: 1px solid #D9D9D9;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.05em;
	color: #717171;
}

.contacts__city-block span:hover {
	cursor: pointer;
	border-bottom: 1px solid #717171;
	width: 380px;
	color: #499A18;
}

.contacts__city-block.active {
	display: flex;
	margin: 0px 0px 0px 371px;
}

.city-info-section {
	margin-left: 374px;
	display: none;
	width: 448px;
	height: 214px;
	background: #EDF2EC;
	border: 1px solid #000000;
	border-radius: 20px;
}

.city-info-section.active {
	padding: 17px 76px 32px 33px;
	display: flex;
	margin-top: 47px;
}

.city-info-section .name-info {
	display: flex;
	flex-direction: column;
}

.data-info {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.05em;
	color: #717171;
}

.city-info-section button {
	width: 122px;
	height: 26px;
	font-family: 'inika';
	font-size: 10px;
	line-height: 1.3rem;
	border: 1px solid #E06733;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
	background-color: #EDF2EC;
}

.name-info span {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.05em;
	color: #000000;
}

.item-city span {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.05em;
	color: #717171;
}

.city-info-section button:hover {
	color: #ffffff;
	background-color: #E06733;
}

.call-us button {
	font-family: 'Inika';
	font-weight: 700;
	font-size: 10px;
	line-height: 13px;
	text-align: center;
	color: #717171;
	width: 122px;
	height: 26px;
}

/* --------------------------конец contacts---------------------------------- */

/* --------------------------footer---------------------------------- */

.footer-wrapper__container {
	padding-top: 46px;
	padding-bottom: 46px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__item {
	display: flex;
	flex-direction: row;
}

.footer__item p {
	margin-right: 23px;
}

.footer__links {
	display: flex;
	align-items: center;
}

.footer__link {
	box-sizing: content-box;
	background: no-repeat center;
}

.footer__link:not(:last-child) {
	margin-right: 20px;
}

/* --------------------------конец footer---------------------------------- */